// config.js
'use strict';

var config = {
  production: {
    secret: 'some_secret',
    database_host: 'localhost',
    database_port: the_port_number,
    database_name: the_database_name,
    database_user: the_database_user,
    database_password: the_database_user_password,
    running_port: the_running_port,
    log_level: 'none',
	},
  development: {
    secret: 'some_secret',
    database_host: 'localhost',
    database_port: the_port_number,
    database_name: the_database_name,
    database_user: the_database_user,
    database_password: the_database_user_password,
    running_port: the_running_port,
    log_level: 'debug',
	},
	default: {
    secret: 'some_secret',
    database_host: 'localhost',
    database_port: the_port_number,
    database_name: the_database_name,
    database_user: the_database_user,
    database_password: the_database_user_password,
    running_port: the_running_port,
    log_level: 'debug',
	},
  test: {
    secret: 'some_secret',
    database_host: 'localhost',
    database_port: the_port_number,
    database_name: the_database_name,
    database_user: the_database_user,
    database_password: the_database_user_password,    
    test_user_name: 'xxxxx', // these are used only for tests
    test_user_pwd: 'yyyyy', // these are used only for tests
    running_port: the_running_port,
    log_level: 'info',
  },
	// define as many envs as you want
};

exports.get = function get(env){
  if (env){
    console.log("Using " + env + " config settings");
  } else {
    console.log("Using default config settings");
  }
  return config[env] || config.default;
}